<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="userName">Enter name: </label>
    <input type="text" th:field="*{userName}" id="userName"/>
    <br/>

    <label for="firstName">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>

    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <br>

    <label>Enter role:
        <select size="2" multiple name="roles">
            <option value="1">ADMIN</option>
            <option selected="selected" value="2">USER</option>
        </select>
    </label>
    <br>

</form>
<br>
<input type="submit" value="Update"/>
<input align="right" type="button" value="logout"
       onclick="window.location.href = '/logout'"/>
</body>
</html>